<main role="main" class="pb-3">


    <h1>Lista dos Motoristas</h1>
    <hr>
  
    <p>
      <a class="btn btn-info" [routerLink]="['/']">Nova Motorista</a>
    </p>
  
    <table class="table table-hover table-sm ">
      <thead class="thead-dark">
        <tr>
          
          <th>Nome Motorista</th>
          <th>Documento (CPF)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let motorista of motoristas'>
          <td>
              {{ motorista.nome }}
          </td>
          <td>
            {{ motorista.documento }}
          </td>
         
          <td class="text-right">
            <a class="btn btn-warning mr-1" [routerLink]="['/detalhes-motoristas',motorista.id]">
              <span class="fa fa-search"></span>
            </a>
        
            
            <a class="btn btn-info mr-1" href="#">
              <span class="fa fa-pencil-alt"></span>
            </a>
  
            <a class="btn btn-danger" href="#">
              <span class="fa fa-trash"></span>
            </a>
          
          </td>
        </tr>
      </tbody>
    </table>

    <div class="form-group">
        <a class="btn btn-info"  [routerLink]="['/']">Voltar</a>
    </div>
  
  </main>