<div class="container main-container">
    <h1>Detalhes do {{ veiculo.placa }} - {{ veiculo.modelo }}</h1>

    <div>
        <h4>Informação somente leitura</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                <label class="control-label">Placa - Ano</label>
            </dt>

            <dd class="col-sm-10">
                    {{ veiculo.placa }} - {{ veiculo.ano }}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Modelo</label>
            </dt>

            <dd class="col-sm-10">
                {{ veiculo.modelo }}
                <!-- {{ fornecedor.tipoFornecedor === 1 ? (fornecedor.documento | cpf) : (fornecedor.documento | cnpj) }} -->
            </dd>
        </dl>  
        
    </div>

    <div class="card">
       
            <div  class="card-header">
                <hr>
                <h4>Corridas</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                    <tr>
                        
                        <th>Veiculo</th>
                        <th>Primeiro Motorista</th>
                        <th>Segundo Motorista</th>
                        <th>Data Início</th>
                        <th>Data Fim</th>
                        <th>Tipo Viagem</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor='let corrida of veiculo.corridas'>
                        <td>
                
                        {{ corrida.nomePlaca }} - {{ corrida.nomeModelo }}
                        </td>
                        <td>
                        {{ corrida.nomeMotoristaPrimeiro }}
                        </td>
                        <td>
                        {{ corrida.nomeMotoristaSegundo }}
                        </td>
                        <td>
                        {{ corrida.dataHoraSaida  }}
                        </td>
                        <td>
                        {{ corrida.dataHoraChegada  }}
                        </td>
                        <td>
                        {{ corrida.tipoViagem  }}
                        </td>
                
                        <td class="text-right">
                        <a class="btn btn-warning mr-1" href="#">
                            <span class="fa fa-search"></span>
                        </a>
                    
                        
                        <a class="btn btn-info mr-1" href="#">
                            <span class="fa fa-pencil-alt"></span>
                        </a>
                
                        <a class="btn btn-danger" href="#">
                            <span class="fa fa-trash"></span>
                        </a>
                        
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>  

            <div class="card-footer">
                <!-- <a class="btn btn-dark" [routerLink]="['/fornecedores/editar',fornecedor.id]">Editar</a>&nbsp; -->
                <a class="btn btn-info" [routerLink]="['/lista-veiculos']">Voltar</a>
            </div>
      
    </div>

    <!-- <lista-produto [produtos]="fornecedor.produtos"></lista-produto> -->

    
</div>
